@using EntityLayer.Concrete
@model Arge

@{
	ViewData["Title"] = "Arge";
	Layout = "~/Views/Shared/Layout/Front/_Layout.cshtml";
}
@{
var zamanCizelgesiSayac = 0;
}


<div role="main" class="main" style="background-color:#fff">
	<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col">
					<div class="row">
						<div class="col-md-12 align-self-center order-1">
							<ul class="breadcrumb d-block text-center appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="300" style="animation-delay: 300ms;">
								<li><a href="#">Anasayfa</a></li>
								<li><a href="#">Arge</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-1">
		<div class="row pt-4">
			<div class="col">
				<div class="overflow-hidden mb-3">
					<h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
						<span>@Html.Raw(@Model.Arge_Baslik)</span>
						@*<span class="word-rotator-words bg-primary">
							<b class="is-visible">Success</b>
							<b>Advance</b>
							<b>Progress</b>
							</span>*@
					</h2>
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-lg-10">
				<div class="overflow-hidden">
					<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">
						@Html.Raw(@Model.Arge_Icerik)
					</p>
				</div>
			</div>
		</div>
	</div>
	<section class="section section-default border-0 my-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750">
		<div class="container py-4">
			<div class="row align-items-center">
				<div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
					<div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
						<div>
							<img alt="" class="img-fluid" src="~/Resimler/Arge/@Model.Arge_Resim_Yol" style="width:450px; height:300px">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="overflow-hidden mb-2">
						<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">@Model.Arge_Alt_Baslik</h2>
					</div>
					<p class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">@Html.Raw(@Model.Arge_Alt_Icerik)</p>
				</div>
			</div>
		</div>
	</section>


	<div class="row">
		<div class="col-md-8 mx-md-auto text-center">

			<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2">Arge <strong class="font-weight-extra-bold">Geçmişimiz</strong></h2>
			@*<p>How we started, lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>*@

			<section class="timeline" id="timeline">
				<div class="timeline-body">
					@foreach (var item in (ViewBag.ArgeGecmisimiz as List<ArgeGecmisimiz>).GroupBy(x => x.Yil))
					{
						<div class="timeline-date">
							<h3 class="text-primary font-weight-bold">@item.Key</h3>
						</div>
						foreach (var secondItem in (ViewBag.ArgeGecmisimiz as List<ArgeGecmisimiz>).Where(x => x.Yil == item.Key).OrderBy(x => x.SiraNo).Select((value,index)=>new {value,index}))
						{
							var cardPosition = zamanCizelgesiSayac % 2 == 0 ? "right" : "left";
							<article class="timeline-box @cardPosition text-start appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="200" style="animation-delay: 200ms;">
								<div class="timeline-box-arrow"></div>
								<div class="p-2">
									<img alt="" class="img-fluid" src="img/history/history-3.jpg">
									<h3 class="font-weight-bold text-3 mt-3 mb-1">@secondItem.value.Baslik</h3>
									<p class="mb-0 text-2">@secondItem.value.Icerik</p>
								</div>
							</article>
							zamanCizelgesiSayac++;
						}
					}
				</div>
			</section>

		</div>
	</div>

	@*	<div class="container">
		<div class="row mt-5 py-3">
		<div class="col-md-6">
		<div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
		<section class="toggle active mt-0">
		<a class="toggle-title">Our Vision</a>
		<div class="toggle-content">
		<p>@Html.Raw(@item.Arge_vizyonumuz)</p>
		</div>
		</section>
		<section class="toggle">
		<a class="toggle-title">Our Mission</a>
		<div class="toggle-content">
		<p>@Html.Raw(@item.Arge_Misyonumuz)</p>
		</div>
		</section>
		</div>
		</div>

		<div class="col-md-6">
		<div class="progress-bars">
		<div class="progress-label">
		<span class="text-1">HTML/CSS</span>
		</div>
		<div class="progress mb-2">
		<div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
		<span class="progress-bar-tooltip">100%</span>
		</div>
		</div>
		<div class="progress-label">
		<span class="text-1">Design</span>
		</div>
		<div class="progress mb-2">
		<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
		<span class="progress-bar-tooltip">85%</span>
		</div>
		</div>
		<div class="progress-label">
		<span class="text-1">WordPress</span>
		</div>
		<div class="progress mb-2">
		<div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
		<span class="progress-bar-tooltip">75%</span>
		</div>
		</div>
		<div class="progress-label">
		<span class="text-1">Photoshop</span>
		</div>
		<div class="progress mb-2">
		<div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="900">
		<span class="progress-bar-tooltip">85%</span>
		</div>
		</div>
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col py-4">
		<hr class="solid">
		</div>
		</div>

		<div class="row">
		<div class="col-md-8 mx-md-auto text-center">
		<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2">Our <strong class="font-weight-extra-bold">History</strong></h2>
		<p>How we started, lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>
		<section class="timeline" id="timeline">
		<div class="timeline-body">
		<div class="timeline-date">
		<h3 class="text-primary font-weight-bold">2021</h3>
		</div>
		<article class="timeline-box left text-start appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
		<div class="timeline-box-arrow"></div>
		<div class="p-2">
		<img alt="" class="img-fluid" src="~/Resimler/Arge/@item.Arge_Tarihcemiz_Resim_Yol" />
		<h3 class="font-weight-bold text-3 mt-3 mb-1">@Html.Raw(@item.Arge_Tarihcemiz_Baslik)</h3>
		<p class="mb-0 text-2">@Html.Raw(@item.Arge_Tarihcemiz_icerik)</p>
		</div>
		</article>
		</div>
		</section>
		</div>
		</div>
		</div>*@

	@*	<section class="section section-default border-0 my-5">
		<div class="container py-4">
		<div class="row">
		<div class="col pb-4 text-center">
		<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2">Meet <strong class="font-weight-extra-bold">Our Team</strong></h2>
		<p>Rockstars lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>
		</div>
		</div>
		<div class="row pb-4 mb-2">
		<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
		<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
		<span class="thumb-info-wrapper border-radius-0">
		<a href="about-me.html">
		<img src="~/StaticFiles/Front/img/team/team-1.jpg" class="img-fluid border-radius-0" alt="">
		<span class="thumb-info-title">
		<span class="thumb-info-inner">John Doe</span>
		<span class="thumb-info-type">CEO</span>
		</span>
		</a>
		</span>
		<span class="thumb-info-caption">
		<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
		<span class="thumb-info-social-icons">
		<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
		<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
		<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
		</span>
		</span>
		</span>
		</div>
		<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
		<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
		<span class="thumb-info-wrapper border-radius-0">
		<a href="about-me.html">
		<img src="~/StaticFiles/Front/img/team/team-2.jpg" class="img-fluid border-radius-0" alt="">
		<span class="thumb-info-title">
		<span class="thumb-info-inner">Jessica Doe</span>
		<span class="thumb-info-type">Marketing</span>
		</span>
		</a>
		</span>
		<span class="thumb-info-caption">
		<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
		<span class="thumb-info-social-icons">
		<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
		<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
		<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
		</span>
		</span>
		</span>
		</div>
		<div class="col-sm-6 col-lg-3 mb-4 mb-sm-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
		<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
		<span class="thumb-info-wrapper border-radius-0">
		<a href="about-me.html">
		<img src="~/StaticFiles/Front/img/team/team-3.jpg" class="img-fluid border-radius-0" alt="">
		<span class="thumb-info-title">
		<span class="thumb-info-inner">Rick Edward Doe</span>
		<span class="thumb-info-type">Developer</span>
		</span>
		</a>
		</span>
		<span class="thumb-info-caption">
		<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
		<span class="thumb-info-social-icons">
		<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
		<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
		<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
		</span>
		</span>
		</span>
		</div>
		<div class="col-sm-6 col-lg-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
		<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
		<span class="thumb-info-wrapper border-radius-0">
		<a href="about-me.html">
		<img src="~/StaticFiles/Front/img/team/team-4.jpg" class="img-fluid border-radius-0" alt="">
		<span class="thumb-info-title">
		<span class="thumb-info-inner">Melinda Wolosky</span>
		<span class="thumb-info-type">Design</span>
		</span>
		</a>
		</span>
		<span class="thumb-info-caption">
		<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
		<span class="thumb-info-social-icons">
		<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
		<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
		<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
		</span>
		</span>
		</span>
		</div>
		</div>
		</div>
		</section>
		<div class="container">
		<div class="row py-5 my-5">
		<div class="col">
		<div class="owl-carousel owl-theme mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-1.png" alt="">
		</div>
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-2.png" alt="">
		</div>
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-3.png" alt="">
		</div>
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-4.png" alt="">
		</div>
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-5.png" alt="">
		</div>
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-6.png" alt="">
		</div>
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-4.png" alt="">
		</div>
		<div>
		<img class="img-fluid opacity-2" src="~/StaticFiles/Front/img/logos/logo-2.png" alt="">
		</div>
		</div>
		</div>
		</div>
		</div>*@
</div>
